{% extends "./base.html" %}

{% block content%}

    {%if note%}
            <div class="create-note-container">
         <form method="post" action="" calss="create-note-form">
           {% csrf_token %}

               <input type="text" name="title" placeholder="Title"
                      class="form-item form-small-item" value="{{note.title}}">

                 <input type="text" name = "category" placeholder="Category...."
                        class="form-item form-small-item" value="{{note.category}}">

             <textarea  type="text" name ="content"  placeholder="Enter your note here...."
                        class="form-item form-large-item" >{{note.content}}</textarea>

              <input type="submit" name="create"  value="Edit Note"   class="form-item form-button">
           </form>
        </div>
    {%else %}

    <div class="create-note-container">
         <form method="post" action="" calss="create-note-form">
           {% csrf_token %}

               <input type="text" name="title" placeholder="Title"   class="form-item form-small-item">
                 <input type="text" name = "category" placeholder="Category...."  class="form-item form-small-item">

             <textarea  type="text" name ="content"  placeholder="Enter your note here...."  class="form-item form-large-item"></textarea>

              <input type="submit" name="create"  value="Create Note"   class="form-item form-button">
           </form>
        </div>
    {%endif%}
{% endblock%}
